.post-details-container {
  align-items: stretch;
  border: 1px solid #4bacb8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-details {
  align-items: center;
  background-color: #4bacb8;
  display: flex;
  justify-content: space-between;
  padding: 3px 6px;
}

.post-details-add-comment {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}

.post-details-text {
  color: #fafafa;
  margin: 0px;
}

.post-author {
  color: #ffd180;
}

.post-body {
  background-color: #eeeeee;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-body-text {
  color: #4bacb8;
}
