.post-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  padding: 12px;
  cursor: pointer;
}

.post-card:active {
  opacity: 30;
}

.post-rank {
  color: #4bacb8;
  margin: 0px 3px;
}

.post-summary {
  text-align: left;
}

.post-title {
  color: #01579b;
  margin: 0px;
}

.post-description {
  color: #4bacb8;
  margin: 0px;
}
