.post-card {
  background-color: #ffff;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
}

.post-rank {
  color: #4bacb8;
  margin: 0px 3px;
}

.post-summary {
  text-align: left;
}

.post-title {
  color: #01579b;
  margin: 0px;
}

.post-description {
  color: #4bacb8;
  margin: 0px;
}
