.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 12px;
  background-color: #ffd180;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-single {
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.posts-list {
  width: 100%;
  margin: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
