body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
}

.stretch {
  align-self: stretch;
}

.padded {
  padding: 12px;
}

.no-margin {
  margin: 0px;
}

.primary-color {
  color: #ffd180;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-centered {
  justify-content: center;
  align-items: center;
}

.text-centered {
  text-align: center;
}

.icon {
  margin: 12px;
  cursor: pointer;
}

.icon-small {
  margin: 6px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.title-container {
  text-align: center;
  color: #01579b;
}

.list {
  width: 100%;
  margin: 0px;
}

.border-container {
  border: 1px solid #01579b;
  border-radius: 100px;
}

.post-card {
  background-color: #ffff;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-container {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-card-body {
  flex: 1;
}

.post-rank {
  color: #4bacb8;
  margin: 0px 3px;
}

.post-summary {
  text-align: left;
}

.post-title {
  color: #01579b;
}

.post-description {
  color: #4bacb8;
}

.post-vote-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote-item {
  margin: 0px 6px;
}

.post-details-container {
  align-items: stretch;
  border: 1px solid #4bacb8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-details {
  background-color: #4bacb8;
  padding: 3px 6px;
  position: relative;
}

.post-details-add-comment {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}

.post-details-text {
  color: #fafafa;
}

.post-score {
  position: absolute;
  right: 50%;
  margin-right: -75px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 150px;
}

.post-body {
  background-color: #eeeeee;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-body-text {
  color: #4bacb8;
}

.comment-container {
  align-items: stretch;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.comment-header-text {
  padding: 3px 6px;
  color: #01579b;
}

.comment-body {
  margin: 3px;
  background-color: #ffffb1;
  color: #01579b;
}

.category-list-item {
  color: #01579b;
  font-weight: bold;
  padding: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.form-input-container {
  border: 1px solid #01579b;
  border-radius: 1.5rem;
  margin-bottom: 12px;
  vertical-align: top;
}

.form-input {
  width: 90%;
  padding: 12px;
  font-size: 0.8em;
  border: 0px;
  outline: none;
  color: #01579b;
  word-wrap: break-word;
  overflow: hidden;
  border-radius: 100px;
  text-align: start;
}

.form-input:disabled {
  color: gray;
}

.form-select {
  font-size: 16px;
  border: 1px solid #01579b;
  background-color: #fefefe;
  color: #01579b;
  margin-bottom: 12px;
  align-self: center;
}

.form-select:disabled {
  color: gray;
}

.form-select-option {
  text-align: center;
  color: #01579b;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-button-primary {
  background-color: #01579b;
  border: 1px solid #01579b;
  border-radius: 100px;
  color: #ffff;
  font-weight: bold;
  padding: 6px 16px;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 200px;
  left: 350px;
  right: 350px;
  bottom: 200px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .24), 0 3px 12px 0 rgba(0, 0, 0, .12);
  min-width: 300px;
}

.option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.option {
  display: flex;
  align-items: center;
  margin: 12px 6px;
  cursor: pointer;
}

.option-value {
  color: #01579b;
  font-size: 1.5rem;
  margin-left: 2rem;
}
